.checkBoxSvg {
  fill: #22c55e;
}

.checkBox:hover {
  background-color: #22c55e;
}

.checkBox:hover svg {
  fill: white;
}

.deleteSvg {
  fill: #ef4444;
}

.deleteBox:hover {
  background-color: #ef4444;
}

.deleteBox:hover svg {
  fill: white;
}
