.mainContainer {
  min-height: calc(100vh - 64px);
  width: 100%;
  position: absolute;
  top: 62.2px;
  left: 0px;
}

@media (min-width: 620px) {
  .mainContainer {
    left: 93px;
    width: calc(100% - 94px);
  }
}
